@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],input[type="password"],
input[type="email"],input[type="number"],
input[type="tel"],
textarea{
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
textarea{
    height: 140px;
}
button{
    @apply bg-gray-300;
}

.bg-primary {
    background-color: #F5385D;
}

.pe{
    font-weight: 500;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
}

.pagination button {
    width: 40px;
    height: 40px;
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    margin: 0 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: #101010;
    color: #eee;
    border-color: #eee;
}

.pagination button.active {
    font-weight: 900;
    border-color: #101010;
    background: #ffe400;
    color: #101010;
}

.qodef-e-content {
   
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 -18px 25px;
}


.qodef-m-title-lines {
    width: 100%;
    height: 7px;
    border-top: 1px solid #2b2a2a;
    border-bottom: 1px solid #2e2e2d;
    margin: 0 18px;
}

/* *{
    border: 1px solid red;
} */

.ess{
    margin-right: 14px;
}

.eee{
    margin-right: -18px;
}

.texttt{
    font-size: 16px !important;
}

@media screen and (max-width:426px) {
    .text {
   
        display: flex;
       
        justify-content: center;
        align-items: center;
    }
}

.lines{
    width: 100%;
    height: 7px;
    border-top: 1px solid #2b2a2a;
    border-bottom: 1px solid #2e2e2d;
    
    font-size: 23px;
}

.ing {
    margin-bottom: 38px;
    color: #2d2d2d;
    width: 100%;
    vertical-align: middle;
    border: medium none;
    border-collapse: collapse;
    border-spacing: 0;
    display: flex;
    justify-content: start;
}

.container1 {
    text-align: start;
  }

  .text1 {
    font-size: 16px;
    
  }

  .h{
    padding: 10px 12px;
    
   
  }

  @media screen and (max-width:426px) {
    .h{
        padding: 13px 15px;
       
      
      }
  }

  .circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #2d2d2d;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .line-through {
    text-decoration: line-through;
    color: red;
  }

  .checked {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    text-align: center;
    color: #2d2d2d;
    cursor: pointer;
  }

  .nutr {
    font-size: 15px;
  }